/* For the background video on the landing page */
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* to write stuff on the video background */
#videoBG {
  position: relative;
  z-index: -1;
}

/* video to be responsive */
@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  #videoBG {
    display: none;
  }
  body {
    background: url("imgSrc/VideoBG.png"); /* if the video is unable to load background will be an image */
    background-size: cover;
  }
}

/* For the navbar at the top */
.topnav {
  position: absolute; /* Position is absolute to write over the relative video BG */
  width: 100%;
  background-color: rgba(255, 255, 255, 0); /* Opacity will be max */
  overflow: hidden;
  height: 100%;
}

/* For the brand name on navbar */
.brandName {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 5px;
  float: left;
  font-size: 5rem;
  color: #2c7c64;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 14px 16px;
  font-weight: 900;
}

/* For the brand logo on navbar */
.brandLogo {
  height: 85px;
  width: 85px;
  float: left;
  margin-left: 2%;
}

/* Style the links inside the navigation bar */
.topnav a,
button {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 3px;
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  margin-top: 1.3%;
  margin-left: 2%;
  margin-right: 3%;
  border: 0 !important;
}

/* Change the color of links on hover */
.topnav button:hover {
  background-color: #fff;
  color: #2c7c64;
  border-radius: 25px;
}

/* For the signUp button to be different */
.signUp {
  background-color: #2c7c64;
  color: white;
  border-radius: 25px;
}

/* Heading on the background video */
.videoHeader {
  font-family: "Work Sans", sans-serif;
  position: absolute;
  color: white;
  width: 40%;
  left: 0;
  right: 0;
  margin-bottom: -25px;
  margin-left: auto;
  margin-right: auto;
  top: 42%;
  text-align: center;
}

.mapButton {
  background-color: #2c7c64;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.mapButton:hover {
  color: #2c7c64;
  background-color: #fff;
  text-decoration: none;
}

/* For showing the slide-up animation for div */
.module {
  min-height: 200px;
  /* background: white; */
  position: relative;
  float: left;
  padding: 20px;
  margin-right: auto;
  margin-bottom: 4%;
  box-shadow: 0 1px 3px rgba(black, 0.2);
}
.come-in {
  transform: translateY(165px);
  animation: come-in 0.9s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.9s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}
@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

/* For div containers */
.container {
  font-family: "Work Sans", sans-serif;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
}
.layout {
  margin: auto;
  margin-top: 0;
  width: 100%;
}
.discription {
  font-size: 1.9rem;
}
.secondContainer {
  font-family: "Work Sans", sans-serif;
  background-color: #2c7c64;
}
.firstContainerRight {
  font-family: "Work Sans", sans-serif;
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: 5%;
}
.secondContainerRight {
  background-color: #2c7c64;
  color: white;
}
.secondContainerRightImg {
  margin-top: 5%;
  height: 200px;
}
.secondContainerLeft {
  font-family: "Work Sans", sans-serif;
  background-color: #2c7c64;
  color: white;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 5%;
}
.thirdContainerLeftImg1 {
  width: 600px;
}
.thirdContainerLeftImg2 {
  width: 300px;
  margin-top: 5%;
}
.footer {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
.footerDiv {
  width: 80%;
  height: 20%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  opacity: 1;
  color: white;
}

.fa-twitter {
  opacity: 1;
  color: white;
}

.fa-google {
  opacity: 1;
  color: white;
}

.fa-linkedin {
  opacity: 1;
  color: white;
}

.fa-instagram {
  opacity: 1;
  color: white;
}

#button {
  display: inline-block;
  background-color: #7cbcb4;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 500px) {
  #button {
    margin: 30px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  border-radius: 0;
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  margin: auto;
  width: 60%;
  height: 90%;
  border-radius: 0;
}

/* The Close Button */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
}

/******************************************************/

.leftCard {
  border-radius: 0;
  background-color: #2c7c64;
  background-image: url(imgSrc/modalImg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  outline: 0.01px solid #2c7c64;
}
.brandLogo {
  padding-left: 0;
  padding-right: 0;
  width: 80px;
}

.rightCardHead {
  margin-top: 30%;
  margin-bottom: 5%;
  text-align: center;
  font-weight: 700;
  color: #2c7c64;
}
.rightCardButton {
  text-align: center;
  margin-right: 33%;
  margin-top: 4%;
  color: #fff;
  background-color: #2c7c64;
  padding: 10px 40px 10px 40px;
  border: 0;
  border: 2px solid #fff;
  border-radius: 5rem;
}

.formOuterBox {
  background-color: #f7f7f7;
  width: 60%;
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 50px;
}

.formInnerBox {
  border: 0;
  background-color: #f7f7f7;
  height: 50px;
  width: 80%;
}

.icon {
  margin-left: 6%;
  margin-right: 6%;
}

.iconContainer a {
  text-decoration: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
